.home {
    .content--title {
        &.row{
            margin-bottom: 0;
        }

        background: $pink;

        &__info {
            color: black;
            padding: 5% 8%;
            text-align: center;
            height: 100%;

            h1 {
                font-size: 3rem;
                margin-bottom: 1.5rem;
                font-weight: 900;
            }

            p {
                margin-bottom: 1.5rem;
                font-size: 0.9rem;
            }

            @include media-md{
                h1{
                    font-size: 4rem;
                }
                p{
                    font-size: 1.2rem;
                }
            }

        }

        &__image {
            height: 100%;
            display: grid;
            padding: 0;
            background: linear-gradient(to bottom,
                    rgba($pink, 1), 15%,
                    rgba($pink, 0)), url('../img/image-1.png') no-repeat;
            background-size: contain;
            @include media-md{
                background-size: cover;
            }

            @include media-xl{
                background: url('../img/image-1.png') no-repeat;
                background-size: cover;
            }


            img {
                visibility: hidden;
                justify-self: end;
            }
        }
    }

    .content--full {
        height: 60vh;
        display: grid;
        align-items: center;

        @include media-lg{
            height: 80vh;
        }

        &__cover {
            text-align: center;
            padding: 0 2rem;
            h1 {
                font-weight: 400;
                font-size: 1.4rem;
                margin-bottom: 2rem;
            }
        }

        &[data-url='2']{
            background-color: $navy;
            background: linear-gradient(to top,
            rgba(black, 0.8),
            rgba(black, 0)) , url(set-url(2)) center top;
            background-size: cover;
            color: white;
        }

        &[data-url='3']{
            background-color: $navy;
            background: linear-gradient(to top,
            rgba(white, 0.5),
            rgba(white, 0)) , url(set-url(3)) center top;
            background-size: cover;
            color: black;
            h1{
                font-weight: 500;
            }

        }

        &[data-url='4']{
            background-color: $navy;
            background: linear-gradient(to top,
            rgba(black, 0.5),
            rgba(black, 0.3)) , url(set-url(4)) center top;
            background-size: cover;
            color: white;
        }

        &[data-url='5']{
            background-color: $navy;
            background: linear-gradient(to top,
            rgba(black, 0.5),
            rgba(black, 0.3)) , url(set-url(5)) center top;
            background-size: cover;
            color: white;
        }

        &[data-url='6']{
            background-color: $navy;
            background: linear-gradient(to top,
            rgba(black, 0.5),
            rgba(black, 0.3)) , url(set-url(6)) center top;
            background-size: cover;
            color: white;
        }

        &[data-url='7']{
            background-color: $navy;
            background: linear-gradient(to top,
            rgba(black, 0.5),
            rgba(black, 0.3)) , url(set-url(7)) center top;
            background-size: cover;
            color: white;
        }
    }
}