@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

// html{
//     font-size: $font-size-base-px;
//     @include media-md{
//         font-size: $font-size-base-narrow-px;
//     }
// }

body{
    font-family: $font-family-base;
    line-height: $leading-base;
}

// section{
//     h1{
//         font-size: 2rem;
//     }
// }

a {
    color: set-text-color($dark-pink);
    text-decoration: none;
}